/GameObjectEditor/bin/Debug/BinaryImageLib.dll
/GameObjectEditor/bin/Debug/FileDialogLib.dll
/GameObjectEditor/bin/Debug/FileDialogLib.pdb
/GameObjectEditor/bin/Debug/GameArchiveLib.dll
/GameObjectEditor/bin/Debug/GameDataLib.dll
/GameObjectEditor/bin/Debug/GameDataLib.pdb
/GameObjectEditor/bin/Debug/GameGraphicsLib.dll
/GameObjectEditor/bin/Debug/GameObjectEditor.exe
/GameObjectEditor/bin/Debug/GameObjectEditor.exe.config
/GameObjectEditor/bin/Debug/GameObjectEditor.pdb
/GameObjectEditor/bin/Debug/GameObjectEditor.vshost.exe
/GameObjectEditor/bin/Debug/GameObjectEditor.vshost.exe.config
/GameObjectEditor/bin/Debug/GameObjectEditor.vshost.exe.manifest
/GameObjectEditor/bin/Debug/GameObjectLib.dll
/GameObjectEditor/bin/Debug/GameObjectLib.pdb
/GameObjectEditor/bin/Debug/GameObserverLib.dll
/GameObjectEditor/bin/Debug/GameObserverLib.pdb
/GameObjectEditor/bin/Debug/Messaging.dll
/GameObjectEditor/bin/Debug/MonoGame.Framework.dll
/GameObjectEditor/bin/Debug/MonoGame.Framework.xml
/GameObjectEditor/bin/Debug/SharpDX.DXGI.dll
/GameObjectEditor/bin/Debug/SharpDX.Direct2D1.dll
/GameObjectEditor/bin/Debug/SharpDX.Direct3D11.dll
/GameObjectEditor/bin/Debug/SharpDX.Direct3D9.dll
/GameObjectEditor/bin/Debug/SharpDX.MediaFoundation.dll
/GameObjectEditor/bin/Debug/SharpDX.RawInput.dll
/GameObjectEditor/bin/Debug/SharpDX.XAudio2.dll
/GameObjectEditor/bin/Debug/SharpDX.XInput.dll
/GameObjectEditor/bin/Debug/SharpDX.dll
